/*GENERAL*/
.title_margin_0{
	margin: 0;
}

/*BREADCRUMB*/

.make_booking_price{
	margin-top: 15px;
	margin-bottom: 10px;
}

.bradcrumb_backend{
	background: #31708f;
}


.bradcrumb_backend .h4{
	color: #fff;
	opacity: 0.6;
	font-weight: 500;
	margin-top: 0;
	margin-bottom:0;
}

.bradcrumb_backend_section .list-inline,
.bradcrumb_backend .list-inline{
	margin:0;
}

.bradcrumb_backend .bradcrumb_step_active{
	font-weight: 700;
	opacity: 1;
}

.bradcrumb_backend.confirm{
	background: #80ad15;
	transition: 0.5s ease;	
}

.bradcrumb_backend_section .h3{
	margin-top:0;
	margin-bottom: 0;
}

.bradcrumb_backend_section .panel-heading{
	padding: 16px;
	border-right:1px solid #ddd;
}

#mainblock .topbar{
	margin-bottom:0;
}

.bradcrumb_backend_section	{
    word-wrap: normal;
    word-break: normal;
    display: block;
    border-bottom: 1px solid #DDD;
    margin: 0 -16px 20px;
}

.bradcrumb_backend_dropdown_btn {
	margin-right: 16px;
	float: right;
	color: #ddd;
}

.make_booking_panel{
	border-top:none;
}

.make_booking_panel .panel-body{
	padding: 16px;
}
.make_booking_panel .h3,
.make_booking_panel h3{
	margin:0;
}

.make_booking_filters,
.make_booking_map {
	padding: 0
}

#tagplace .label {
    width: 100%;
    display: block;
    text-align: left;
    font-size: inherit;
    margin-bottom: 6px
}

.make_booking_results{
	padding-left: 1em;
	padding-right: 1em;
}


/*RESULTS CARDS CSS*/

/*GENERAL*/

/*scroll area classes*/

.make_booking_map,
#make_booking_section .scroll{
	height: calc(100% - 34px) !important; 
}
.make_booking_map{
	overflow: hidden;
}

.more_collapse {
	padding-left: inherit;
	padding-right: inherit;
}

/*chevron animation*/
#client_section .nav-pills li .fa-plus{
	margin-top: .3em;
}

#client_section .nav-pills li .fa-plus,
#accomodation_search_filters .nav-pills li .fa{
	transform: rotate(0deg);
	transition: 0.3s ease-in;
}


#accomodation_search_filters .nav-pills li.active .fa{
	transform: rotate(180deg);
}

#client_section .nav-pills li.rotate .fa-plus{
	transform: rotate(135deg);
}

/*make form addons the same width*/


/*RESULTS BOX*/

/*remove padding of panel body*/
.resultBox {
	padding: 0;
}

/*classes to adjust the fake slider*/
.imgContainer {
	height: 120px;
	padding:0;
}

.rating {
    width: 12px;
    height: 16px;
    display: inline;
    background: url(/common/img/star-rating.png) no-repeat;
    margin: 3px -3px 0 0;
}


/*just a lateral lines for services and price preview*/
.servicesBuilding {
	border-right: 1px solid #eee;
	margin-top: 4px;
}

.building_price_preview {
	padding-left: 8px;
}


.descArea{
	height:120px;
	border-right: 1px solid #ddd;
}

.descArea,
.priceBox{
	padding: 1em;
}

.priceBox h3,
.priceBox .form-group{
	margin-top: 0;
	margin-bottom: 6px
}


/*rooms alert*/
.roomAlert {
	font-size: initial;
	margin: 20px 0 0;
}

/*MEDIA QUERIES*/

@media (max-width:768px){

	.imgContainer {
		height: 160px;
		padding: 0;
	}
	.descriptionBox{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.building_price_preview{
		padding-left: 8px;
		border:none;
	}

	.descArea{
		border-right: 0;	
	}

	/*Classes for price on mobile*/
	#priceBox_mobile {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: auto;
		padding: 0 16px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+75,000000+75&0+0,0.65+75 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 75%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.50) 75%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.50) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		text-align: left;
	}

	#priceBox_mobile .h2, #priceBox_mobile .h2 small {
		color: #fff;
	}

	#removeBtn_mobile {
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;
		/* background: red; */
		padding: 0 4px;
	}
}

#accomodation_search_filters{
	opacity: 1;
	transition: 0.4s ease-in-out;
}

#accomodation_search_filters.closed{
	opacity: 0;
}

#accomodation_selection_area{
	width: 100%;
	opacity: 1;
	transition: 0.4s ease-in-out;
}

#accomodation_selection_area.closed{
	width: 0;
	opacity: 0;
}

#client_section{
	border-left: 1px solid #ddd;
}

/*client card*/
.client_card .col-xs-4{
	transform: translateY(50%);
}